body {
  margin: 0;
  padding: 0;;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color:#000000;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.main-header{
background-color: #eeeeee;
}
.main-navigation{
display: flex;
justify-content: center;
}
.navigation-list{
 list-style: none;
 text-transform: uppercase;
 display: flex;
 padding-left: 45px;
 padding-top: 83px;
}
.navigation-list li{
 padding-left: 45px;
}
.main-logo{
padding-top: 48px;
padding-right: 200px;
}
.cart-link{
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 245px;
  background-repeat: no-repeat;
  padding-top: 83px;
}
.cart-link svg {
  margin-right: 30px;
}
.navigation-list a:hover{
color:#fb565a;
}
.navigation-list a:focus{
color:#bdbdbd;
}
.active{
border-bottom: 1px solid #fb565a;
}
.main-navigation .cart-link{
text-transform: uppercase;
}
.main-navigation .cart-link:hover{
color:#fb565a;
}
.main-navigation .cart-link:focus{
color:#bdbdbd;
}
.main-navigation .cart-link:active{
color:#000000;
}
.main-navigation{
  line-height:30px;
  font-style: medium;
}

/*Магазин готовых шаблонов*/
.shop-templates{
  display: block;
  padding-bottom: 116px;
  padding-top: 115px;
  margin-top: 0;
  background-color: #eeeeee;
  text-align: center;
}
/*Окончание - Магазин готовых шаблонов*/

.proposal h3{
  font-size: 24px;
  font-style: bold;
  line-height:30px;
  text-transform: uppercase;
}
.slide b {
  font-size: 55px;
  font-style: medium;
  line-height:55px;
}
.orders{
  font-size: 16px;
  line-height: 24px;
  font-style: bold;
  text-transform: uppercase;
}
.interest{
  font-size: 45px;
  line-height: 10,06px;
  font-style: bold;
}

/*Формы*/
.service-container{
  width: 100%;
  display: flex;
}
.alternative{
  width: 260px;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 62px;
}
.catalogue{
  width: 760px;
  margin-top: 62px;
}
.catalog-list{
  display: flex;
  flex-wrap: wrap;
}
.catalog-list li {
  margin-right: 30px;
  width: 365px;
  background-color: #cfc;
}
.catalog-list li:nth-child(2n+2) {
  margin-right: 0;
}
.filter-fieldset legend{
  width: 260px;
  font-size: 18px;
  font-style: bold;
  line-height: 30px;
  font-style: bold;
  text-transform: uppercase;
  list-style: none;
}
.filter-fieldset {
  border:0;
  padding-bottom: 60px;
}
/*Окончание формы*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button{
  display: inline-block;
  border-radius: 2px;
  font-style: medium;
  line-height:18px;
  font: inherit;
  color: #feeded;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  cursor: pointer;
}
.button:hover{
  color:#ffffff;
  background-color: #e74246;
}
.button-green {
  background-color: #00ca74;
  text-transform: uppercase;
  color: #ffffff;
}
.button-yellow {
  background-color: #efc84a;
  text-transform: uppercase;
  color: #ffffff;
}
.button:active {
  color:#e38384;
  background-color: #d7373b;
  border-top: 1px solid #c13135;
}
.services-list{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 80px;
}
.services-item{
  width: 300px;
  padding-left: 100px;
}
.services-list li{
  list-style: none;
}
.slogan{
  width:660px;
}
.advantages{
  width:360px;
}
.description{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eeeeee;
}
.slogan{
 width: 660px;
}
.clientele-list{
  display: flex;
  justify-content: center;
  padding-top: 65px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 65px;
}
.map{
padding-top: 80px;
}
.clientele-item{
  border-right: 1px solid #cccccc;
  padding-right: 50px;
  margin-left:50px;
}
.footer{
  display: flex;
}
.footer-social{
  display: flex;
  list-style: none;
}





/*svg при наведении курсора*/
/*Социальные кнопки*/

.footer-social li{
width: 80px;
height: 80px;
background: #e1e1e1;
border-radius: 50%;
}
.footer-social a{
  text-align: center;
  display: block;
  padding-top:30px;
}
.footer-social li:hover{
background: #e1e1e1;
}
.footer-social li:hover path{
  fill: #e74246;
}
/*Логотип*/
.main-logo:hover{
  color: #000000;
}
.main-logo:hover path{
  fill: #303030;
}
.main-logo:active path{
  fill: #a6a6a6;
}
/*png-картинки*/

.clientele-list li{
  opacity:0.5;
}
.clientele-list li:hover{
  opacity: 1;
}
.clientele-list li:active{
  opacity: 0.1;
}
/*Слайдер*/
.slider {
    position: relative;
}
.slider input[type=radio] {
    display: none;
}
.slider-inner {
    overflow: hidden;
}
.slider-slides {
    width: 600%;
}
.slider-slides img {
    float: left;
    width: 698px;
    height: 413px;
}
.slider-controls {
    margin-bottom: 10px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
    margin: 0 3px;
    cursor: pointer;
    border: 4px solid white;
    background-color: #cccccc;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
}
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-450px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-900px);
}
/*Окончание слайдера*/

/*Ползунки*/
.range-filter{
    padding-top:10px;
    width:240px;
    margin:auto;
    margin-bottom:10px;
}
.range-controls{
    position:relative;
    width: 260px;
    height: 80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#eeeeee;
    border-radius:2px;
    overflow:hidden;
}
.scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar{
    height:2px;
    background:#00ca74;
}
.toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.toggle.min-toggle{
    left:70px;
}
.toggle.max-toggle{
    left:165px;
}
.min-price, .max-price{
    width:55px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#eeeeee;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:2px;

}
.min-price{
    margin-right:14px;
}

/*Ползунки окончание*/

.checkbox,
.radio {
  position: relative;
  padding-left: 35px;
}

.checkbox input,
.radio input {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.checkbox label,
.radio label {
  font-size: 16px;
  line-height: 20px;
}

/* Состояние покоя */
.checkbox {
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}
.radio {
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}
.checkbox,
.radio {
  position: relative;
  padding-left: 35px;
}

.checkbox input,
.radio input {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.checkbox label,
.radio label {
  font-size: 16px;
  line-height: 20px;
}

/* Состояние покоя */
.checkbox label::before,
.radio label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url('https://monosnap.com/file/rqRXSTcYDYa6MoNqmOfB87TuIjC4P7.png');
  transform: translateY(-50%);
  opacity: 0.4;
}

.checkbox label::before {
  width: 27px;
  height: 23px;
  background-position: -2px -0px;
}

.radio label::before {
  width: 25px;
  height: 25px;
  background-position: -2px -50px;
}

/* Состояние выбранного */
.checkbox input:checked + label::before {
  background-position: -2px -25px;
}

.radio input:checked + label::before {
  background-position: -2px -77px;
}

/* Состояние наведения */
.checkbox label:hover::before,
.radio label:hover::before {
  opacity: 1;
}

/* Состояние заблокированного */
.checkbox input:disabled + label::before,
.radio input:disabled + label::before {
  opacity: 0.1;
}
/*Каталог наведение*/
.product{
  background-image: url('../img/browser.svg');
  background-repeat: no-repeat;
}
